<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = {
    "id": <%= current_user.id %>,
    "email": "<%= current_user.email %>",
    "username": "<%= current_user.username %>",
    };
  </script>
<% end %>

<main id="root">
  <div>root static page - something broke</div>
</main> 
