@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Inter:wght@100;200;300;400;500;600;700&display=swap');

$font: 'Inter', sans-serif;
$fontLogo: 'Grand Hotel', cursive;

$varRed: #E70022;
$varDarkRed: #d50020;
$varOrange: #C38A00;
$varTeal: #618C7B;
$varPurple: #9D0342;
$varGreen: #417B57;
$varBlue: #0077D2;

$varOffWhite: #FFFFFA;
$varWhite: #FFFEFE;
$varBlack: #101110;
$varLightGray: #f2f5f2;
$varGray: #EEEFEE;
$varDarkGray: #d5d8d5;
$varDarkerGray: #b0b0b0;
$varDarkestGray: #767676;

$varMustard: #FCC900;
$varMustardPair: #017EFF;

$varPaleYellow: #FEFD92;
$varPaleYellowPair: #015063;


$varLightBlue: #D7EFFE;
$varLightBluePair: #FF5C42;

$varLightPurple: #DAD5FF;
$varLightPurplePair: #015163;

$varRedOrange: #FF5B45;
$varRedOrangePair: #D6EDFB;

$varPink: #FEE2EA;
$varPinkPair: #01B66D;
