@import './base_styling/01_variables.scss';

body {
    font-family: $font;
    font-size:large;
    color: $varBlack;
    width: 100vw;
    height: 100vh;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: $varBlack;
  text-decoration: none;
}



input {
  border-radius: 30px;
  padding: 2px 5px 2px 5px; // top left bottom right
  // margin: 3px;
}