@import './base_styling/01_variables.scss';


.nb {
  display: flex;
  flex-direction: row;
  height: 80px; 
  width: 100%;
  justify-content: space-between;
  align-items: center;
  // box-sizing: border-box;
  // padding: 0 5px 0 5px;
}

.nb .nav-link.selected{
  background-color: $varWhite;
  color: $varBlack;
}

.nb .icon-container {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nb .icon-container.react-icon {
  color: $varDarkestGray;
}

.nb a {
  display: flex;
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.nb .icon-container:hover {
  background-color: $varDarkGray;
}

.nb .nb-content-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // margin: 1%;
}

.nb .nb-content-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  // margin: 1%;
}

.interest-logo {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 15px;
}
.interest-logo-name {
  color: $varRed;
  font-weight: 600;
  font-size: 20px;
  padding-left: 5px;
}

.home-link, .today-link {
  color: $varBlack;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
// Maybe add an active property?
.home-link:hover, .today-link:hover {
  background-color: $varGray;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.about-link {
  font-family: $font;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 15px;
}

#login-button {
  font-family: $font;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: $varRed;
  color: $varWhite;
  font-weight: 600;
  font-size: 15px;
}

#signup-button {
  font-family: $font;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: $varGray;
  color: $varBlack;
  font-weight: 600;
  font-size: 15px;
}

#login-button:hover {
  background-color: $varDarkRed;
}

#signup-button:hover {
  background-color: $varDarkGray;
}

.search-bar {
  height: 30px;
  // min-width: 60px;
  flex-grow: 1;
}

.nb-content-right .dropdown-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    right: 1%;
    margin-right: 15px;
    height: 22px;
    padding: 0px 5px;
    cursor: pointer;
}

.nb-content-right .dropdown-button:hover {
    background: $varDarkGray;
}

.nb-content-right .dropdown-menu {
    z-index: 1000;
    position: absolute;
    right: 10%;
    top: 150%;
    background-color: $varOffWhite;
    border-radius: 8px;
    width: 272px;
}

.nb-content-right .dropdown-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0px 8px 8px 8px;
    border-radius: 8px;
    min-height: 35px;
    font-size: 16px;
    font-weight: 700;
}

.nb-content-right .dropdown-item:hover {
    background: $varDarkGray;
}