@import './base_styling/01_variables.scss';


.nb {
  display: flex;
  flex-direction: row;
  height: 80px; 
  width: 100%;
  justify-content: space-between;
  align-items: center;
  // box-sizing: border-box;
  // padding: 0 5px 0 5px;
}

.nb .icon-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1% 2% 1% 2%; 

}

.nb a {
  display: flex;
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.nb .icon-container:hover {
  background-color: $varDarkGray;
}

.nb .nb-content-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // margin: 1%;
}

.nb .nb-content-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  // margin: 1%;
}

.interest-logo {
  width: 35px;
  height: 35px;
  cursor: pointer;

}
.interest-logo-name {
  color: $varRed;
  font-weight: 600;
  font-size: 20px;
}

.home-link, .today-link {
  color: $varBlack;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
// Maybe add an active property?
.home-link:hover, .today-link:hover {
  background-color: $varGray;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.about-link {
  font-family: $font;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 15px;
}

#login-button {
  font-family: $font;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: $varRed;
  color: $varWhite;
  font-weight: 600;
  font-size: 15px;
}

#signup-button {
  font-family: $font;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: $varGray;
  color: $varBlack;
  font-weight: 600;
  font-size: 15px;
}

#login-button:hover {
  background-color: $varDarkRed;
}

#signup-button:hover {
  background-color: $varDarkGray;
}

.search-bar {
  height: 30px;
  // min-width: 60px;
  flex-grow: 1;
}
