@import './base_styling/01_variables.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $varWhite;
  border-radius: 30px;
  padding: 50px;
  z-index: 1000;
  min-width: 80%;
  max-width: 80%;
}

#modal-close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
      border-radius: 100px;
}

#modal-close-button:hover {
  background-color: $varDarkGray;
}