@import './base_styling/01_variables.scss';

.pd {
    margin: 10px 10px;
    padding: 0;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.pin-small {
    grid-row-end: span 32;
}

.pin-medium {
    grid-row-end: span 38;
}

.pin-large {
    grid-row-end: span 44;
}

.pd-action-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
}

.pd-action-container:hover {
    opacity: 1;
}

.pd-action-container .pd-action-head {
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pd-action-container .pd-action-head .save-pin {
    margin-right: 20px;
    width: 52px;
    height: 40px;
    border-radius: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: small;
    font-weight: 600;

    color: $varWhite;
    background-color: $varRed;
    cursor: pointer;
}

.pd-action-container .save-actions {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-left: 10px; 
    font-weight: 400;
    color: $varOffWhite;
}

.pd-action-container .pd-action-footer {
    width: 100%;
    height: 85%;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown-menu-boardSave {
    z-index: 1500;
    position: fixed;
    right: 5%;
    margin-top: 5px;
    top: 10%;
    background-color: $varOffWhite;
    // background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 220px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 10%);
}
    
    // .pd-action-container .dropdown-header {
    //     display: flex;
    //     cursor: pointer;
    //     align-items: center;
    //     padding-left: 8px;
    //     padding-right: 8px;
    //     margin: 8px 8px 8px 8px;
    //     border-radius: 8px;
    //     min-height: 20px;
    //     font-size: 15px;
    //     font-weight: 400;
    // }
    
.dropdown-item-boardSave {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        margin: 0px 8px 8px 8px;
        border-radius: 8px;
        min-height: 35px;
        font-size: 16px;
        font-weight: 700;
    }
    
    .pd-action-container .dropdown-item:hover {
        background: $varDarkGray;
    }

.pd-action-container .pd-action-footer .destination {
    width: 100px;
    height: 32px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.pd-icon-container { 
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    background-color: $varGray;
    cursor: pointer;
}

.pd-icon-container:hover { 
    background-color: $varDarkerGray;
}

.pd-icon {
    width: 50%;
}


.pd-image {
    width: 100%;
    height: 100%;
    display: contents;
    justify-content: center;
    align-items: center;
}

.pin-url {
    cursor: zoom-in;
}

// PinDetails ~~~~~ PinDetails ~~~~~ PinDetails ~~~~~ PinDetails ~~~~~ PinDetails ~~~~~

.pin-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    // z-index: 800;
}

.pin-details-overlay:hover {
    cursor: zoom-out;
}

.pin-details-container {
    position: fixed;
    // position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    background-color: $varWhite;
    border-radius: 32px;
    width: 1000px;
    height: 750px;
    z-index: 1000;
    cursor: default;
    display: flex;
    flex-direction: row;
}

.pin-details-left {
    width: auto;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 32px 0px 0px 32px;
    align-items: center;
    overflow: hidden;
}

.pin-details-img {
    box-sizing: border-box;
    object-fit: cover;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 32px 0px 0px 32px;
}

.pin-details-right {
    width: 50%;
    padding: 32px;
    // padding-right: 32px;
    // padding-left: 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.pin-details-right h1 {
    font-size: 22px;
    font-weight: 600;
}

.pin-details-actions {
    // padding-top: 64px;
    display: flex;
    flex-direction: row;
    // margin-top: 64px; // maybe this instead of padding? 
    // position: sticky;
    // top: 64px; 
    // z-index: 2;
    justify-content: space-between;
}

.util-actions {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    // margin-left: 0;
    // margin-right: 0;
    width: 30%;
    // max-width: 508px;
    align-items: center;

}

.save-actions {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    // width: 236px;
    overflow: hidden;
    height: 60px;
    cursor: pointer;
}

.save-actions .icon-container {
    height: 46px;
    width: 46px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.save-actions .icon-container:hover {
    background-color: $varDarkGray;
}

.pin-details-container .dropdown-button{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        border-radius: 100px;
        right: 1%;
        margin-right: 15px;
        height: 22px;
        padding: 0px 5px;
        cursor: pointer;
    }
    
    // .pin-details-container .dropdown-menu {
    //     z-index: 3000;
    //     position: absolute;
    //     right: 5%;
    //     margin-top: 5px;
    //     // top: 50%;
    //     background-color: $varOffWhite;
    //     border-radius: 8px;
    //     width: 180px;
    //     box-shadow: 0 0 8px rgba(0, 0, 0, 10%);
    // }
    
    .pin-details-container .dropdown-header {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        margin: 8px 8px 8px 8px;
        border-radius: 8px;
        min-height: 20px;
        font-size: 15px;
        font-weight: 400;
    }
    
    .pin-details-container .dropdown-item {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        margin: 0px 8px 8px 8px;
        border-radius: 8px;
        min-height: 35px;
        font-size: 16px;
        font-weight: 700;
    }
    
    .pin-details-container .dropdown-item:hover {
        background: $varDarkGray;
    }

.delete-pin {
    font-family: $font;
    border: none;
    padding: 10px;
    margin: 15px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-color: $varGray;
    color: $varBlack;
    font-weight: 600;
    font-size: 15px;
    width: 80px;
}