@import './base_styling/01_variables.scss';

.pd {
    margin: 10px 10px;
    padding: 0;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.pin-small {
    grid-row-end: span 32;
}

.pin-medium {
    grid-row-end: span 38;
}

.pin-large {
    grid-row-end: span 44;
}

.pd-action-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
}

.pd-action-container:hover {
    opacity: 1;
}

.pd-action-container .pd-action-head {
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pd-action-container .pd-action-head .save-pin {
    margin-right: 20px;
    width: 52px;
    height: 40px;
    border-radius: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: small;
    font-weight: 600;

    color: $varWhite;
    background-color: $varRed;
    cursor: pointer;
}

.pd-action-container .pd-action-footer {
    width: 100%;
    height: 15%;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pd-action-container .pd-action-footer .destination {
    width: 100px;
    height: 32px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.pd-icon-container { 
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    background-color: $varGray;
    cursor: pointer;
}

.pd-icon-container:hover { 
    background-color: $varDarkerGray;
}

.pd-icon {
    width: 50%;
}


.pd-image {
    width: 100%;
    height: 100%;
    display: contents;
    justify-content: center;
    align-items: center;
}

.pin-url {
    cursor: zoom-in;
}


